services:
  nginx:
    build: ./requirements/nginx
    image: nginx:1.0
    container_name: nginx
    volumes:
      - wordpress:/var/www/html
    ports:
      - "443:443"
    networks:
      - inception
    depends_on:
      - wordpress
    env_file:
      - .env
    restart: on-failure
  mariadb:
    build: ./requirements/mariadb
    image: mariadb:1.0
    container_name: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    expose:
      - "3306"
    networks:
      - inception
    env_file:
      - .env
    environment:
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
    secrets:
      - db_root_password
      - db_password
    restart: on-failure
  wordpress:
    build: ./requirements/wordpress
    image: wordpress:1.0
    container_name: wordpress
    volumes:
      - wordpress:/var/www/html
    expose:
      - "9000"
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    environment:
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
      - WP_CREDENTIALS_FILE=/run/secrets/wp_credentials
    secrets:
      - db_password
      - wp_credentials
    restart: on-failure

volumes:
  mariadb:
    name: mariadb_data
    driver: local
  wordpress:
    name: wordpress_data
    driver: local

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_credentials:
    file: ../secrets/wp_credentials.txt

networks:
  inception:
    name: inception
    driver: bridge
