services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    image: nginx:42
    networks:
      - inception
    restart: always

networks:
  inception:
    name: inception
    driver: bridge
