services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    image: nginx
    networks:
      - inception
    restart: always
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    expose:
      - "3306"
    networks:
      - inception
    secrets:
      - db_root_password
      - db_password
    restart: always
  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    volumes:
      - wordpress_data:/var/www/html
    expose:
      - 9000
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always

volumes:
  mariadb_data:
    name: mariadb_data
  wordpress_data:
    name: wordpress_data

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    name: inception
    driver: bridge
