services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    # depends_on:
    #   - wordpress
    image: nginx
    networks:
      - inception
    restart: always

networks:
  inception:
    name: inception
    driver: bridge
