services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    image: nginx
    networks:
      - inception
    volumes:
      - wordpress:/var/www/html
    restart: always
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - inception
    secrets:
      - db_root_password
      - db_password
    restart: always
  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    container_name: wordpress
    volumes:
      - wordpress:/var/www/html
    ports:
      - 9000:9000
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    secrets:
      - db_root_password
      - wp_credentials
    restart: always

volumes:
  mariadb:
    name: mariadb_data
  wordpress:
    name: wordpress_data

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_credentials:
    file: ../secrets/wp_credentials.txt

networks:
  inception:
    name: inception
    driver: bridge
